{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}
{% block title %}Team{% endblock %}

{% block body %}
<main class="wrapper">
    <section class="search_page">
        <div>
            <h1>{{ app.user.nom }}</h1>
            <h2>{{ app.user.email }}</h2>
            {% if app.user.team != null %}
            <h3>{{ app.user.team.nom }}</h3>
            <p>{{ app.user.roleTeam[0] }}</p>
            {% endif %}
            <div>
                <a class="nav_link mr" href="{{ path('app_profile_edit') }}">Changer ses informations</a>
                <a class="nav_link mr" href="{{ path('app_forgot_password_request') }}">Changer son mot de passe</a>
                <a class="nav_link mr" href="{{ path('app_profile_disable') }}">Désactiver son compte</a>
            </div>
            {% if app.user.sujets is defined %}
            <div>
                <h3>Liste des sujets</h3>
                <ul>
                {% for sujet in app.user.sujets %}
                <li><a class="nav_link mr" href="{{ path('app_forum_id', { 'id': sujet.id } )}}">{{ sujet.titre }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if app.user.evenement is defined %}
            <div>
                <h3>Liste des events</h3>
                <ul>
                {% for event in app.user.evenement %}
                <li><a class="nav_link mr" href="{{ path('app_event_id', { 'id': event.id } )}}">{{ event.nom }}</a></li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}