{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/form.css' }}">
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
    <section class="form">
        {{ form_start(form,{attr: {class: 'mb-5 flex column'}, 'action': path('app_profile_disable'), 'method': 'POST'}) }}
        <h1>Voulez vous vraiment désactiver votre compte ?</h1>
        {{ form_widget(form.submit, { 'label': 'Désactiver' }) }}
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}