{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/home.css' }}">
 <link rel="stylesheet" href="{{ '/css/profil.css' }}">
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
    <section class="profil center">
        <div>
            <h1>
            {{ user.nom }}
            {% if user.roles[0] == "ROLE_ADMIN" %}
                <span class="role black">- Administrateur du Site</span>
            {% endif %}
            </h1>
            {% if user.team != null %}
            
            <p><a class="nav_link white" href="{{ path('app_team_id', { 'id': user.team.id }) }}">{{ user.team.nom }}</a>
            {% if user.roleTeam == ["ROLE_ADMIN", "ROLE_FONDATEUR"] %}
                <span class="mr role black">- Fondateur</span>
            {% elseif user.roleTeam == ["ROLE_ADMIN"] %}
                <span class="mr role black">- Admin</span>
            {% elseif user.roleTeam == ["ROLE_MODO"] %}
                <span class="mr role black">- Modérateur</span>
            {% else %}
                <span class="mr role black">- Membre</span>
            {% endif %}</p>

            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
                <a class="nav_link mr button" href="{{ path('app_private_message_create', { 'id': user.id } )}}">Envoyer un méssage privé</a>
            {% endif %}
            {% if user.sujets is defined and user.sujets is not empty  %}
            <div>
                <h3 class="mt-5 mb-2">Liste des sujets</h3>
                <ul class="grid">
                {% for sujet in user.sujets %}
                <li>
                    <a class="nav_link black" href="{{ path('app_forum_id', { 'id': sujet.id } )}}">
                        <div class="vignette">
                            <div class="longue_bulle marge">
                                {{ sujet.titre }}
                            </div>
                            <div class="longue_bulle marge">
                                de {{ sujet.user.nom }}
                            </div>
                                <div class="longue_bulle">
                                    <span class="red police_course">{{ sujet.messages|length }}</span> réponse(s)
                                </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
            {% if user.evenement is defined and user.evenement is not empty %}
            <div>
                <h3 class="mt-5 mb-2">Liste des events</h3>
                <ul class="grid">
                {% for event in user.evenement %}
                 <li>
                    <a class="nav_link mr black" href="{{ path('app_event_id', { 'id': event.id } )}}">
                        <div class="vignette event_container">
                            <div>
                                <div class="longue_bulle detail_event marge red police_course" >{{ event.dateTime|date('d/m') }}</div>
                                <div class="longue_bulle detail_event marge red police_course" >{{ event.dateTime|date('H:i') }}</div>
                            </div>
                            <div>
                                <div class="longue_bulle marge">{{ event.nom }}</div>
                                <div class="longue_bulle marge">{{ event.team.nom }}</div>
                                <div class="longue_bulle detail_event">
                                    <div><span class="red police_course">{{ event.users|length }}/{{ event.nbPlace }}</span> participant(s)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
                </ul>
            </div>
            {% endif %}
        </div>
    </section>
</main>
{% endblock %}