{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}
{% block title %}Team{% endblock %}

{% block body %}
<main class="wrapper">
    <section class="search_page">
    <h1>Voulez vous vraiment supprimer la team {{ app.user.team.nom }} ?</h1>
        {{ form_start(form,{attr: {class: ''}, 'action': path('app_team_delete'), 'method': 'POST'}) }}
        {{ form_widget(form.submit, { 'label': 'Supprimer la team' }) }}
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}