{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ 'css/search.css' }}">
 {% endblock %}
{% block title %}Team{% endblock %}

{% block body %}
    <main class="wrapper">
        <section class="search_page">
            <a class="nav_link mr" href="{{ path('app_team')}}">Retour</a>
            <h1>Liste des pilotes chez {{ app.user.team.nom }}</h1>
            <ul>
                {% for user in users %}
                    <li class="mb-5">
                        {{ user.nom }}
                        {% if user.roleTeam == ["ROLE_ADMIN", "ROLE_FONDATEUR"] %}
                            - Fondateur
                        {% elseif user.roleTeam == ["ROLE_ADMIN"] %}
                            - Admin
                        {% elseif user.roleTeam == ["ROLE_MODO"] %}
                            - Modérateur
                        {% else %}
                            - Membre
                        {% endif %}

                        {% if app.user.roleTeam[0] == "ROLE_ADMIN" or app.user.roleTeam[0] == "ROLE_MODO" %}

                            {% if app.user.id != user.id %}

                                {% if user.roleTeam[0] != "ROLE_ADMIN" %}

                                    {% if app.user.roleTeam == ["ROLE_ADMIN", "ROLE_FONDATEUR"] %}
                                        <a class="nav_link mr" href="{{ path('app_promote_user', { 'id': user.id } )}}">Promouvoir le pilote</a>
                                    {% elseif app.user.roleTeam[0] == "ROLE_ADMIN" and user.roleTeam[0] == "ROLE_MEMBRE" %}
                                        <a class="nav_link mr" href="{{ path('app_promote_user', { 'id': user.id } )}}">Promouvoir le pilote</a>
                                    {% elseif app.user.roleTeam[0] == "ROLE_MODO" and user.roleTeam[0] == "ROLE_MEMBRE" %}
                                        <a class="nav_link mr" href="{{ path('app_promote_user', { 'id': user.id } )}}">Promouvoir le pilote</a>
                                    {% endif %}

                                {% endif %}

                                {% if user.roleTeam[0] != "ROLE_MEMBRE" %}
                                
                                    {% if app.user.roleTeam == ["ROLE_ADMIN"] and user.roleTeam[0] != "ROLE_ADMIN" %}
                                        <a class="nav_link mr" href="{{ path('app_demote_user', { 'id': user.id } )}}">Rétrograder le pilote</a>
                                    {% elseif app.user.roleTeam == ["ROLE_ADMIN", "ROLE_FONDATEUR"]%}
                                        <a class="nav_link mr" href="{{ path('app_demote_user', { 'id': user.id } )}}">Rétrograder le pilote</a>
                                    {% endif %}

                                {% endif %}

                                {% if user.roleTeam[0] != "ROLE_ADMIN" or app.user.roleTeam == ["ROLE_ADMIN", "ROLE_FONDATEUR"] %}
                                    <a class="nav_link mr" href="{{ path('app_team_leave_id', { 'id': user.id } )}}">Supprimer le pilote</a>
                                {% endif %}

                                {% if app.user.roleTeam == ["ROLE_ADMIN", "ROLE_FONDATEUR"] and user.roleTeam == ["ROLE_ADMIN"] %}
                                    <a class="nav_link mr" href="{{ path('app_transfer_propriety', { 'id': user.id } )}}">Transferer la propriété de la team</a>
                                {% endif %}

                            {% endif %}

                        {% endif %}
                    </li>
                {% endfor %}
            </ul>
        </section>
    </main>
{% endblock %}