{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ 'css/home.css' }}">
 <link rel="stylesheet" href="{{ 'css/team.css' }}">
 <link rel="stylesheet" href="{{ 'css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
<section class="team">
<a class="nav_link mr button" href="{{ path('app_team')}}">Retour</a>
<h1 class="my-3">Liste des évènements chez {{ app.user.team.nom }}</h1>
<ul class="grid">
{% for event in app.user.team.evenements %}
 <li>
                    <a class="nav_link mr black" href="{{ path('app_event_id', { 'id': event.id } )}}">
                        <div class="vignette event_container">
                            <div>
                                <div class="longue_bulle detail_event marge red police_course" >{{ event.dateTime|date('d/m') }}</div>
                                <div class="longue_bulle detail_event marge red police_course" >{{ event.dateTime|date('H:i') }}</div>
                            </div>
                            <div>
                                <div class="longue_bulle marge">{{ event.nom }}</div>
                                <div class="longue_bulle marge">{{ event.team.nom }}</div>
                                <div class="longue_bulle detail_event">
                                    <div><span class="red police_course">{{ event.users|length }}/{{ event.nbPlace }}</span> participant(s)</div>
                                </div>
                            </div>
                        </div>
                    </a>
                </li>
{% endfor %}
</ul>
</section>
</main>
{% endblock %}