{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ 'css/form.css' }}">
 <link rel="stylesheet" href="{{ 'css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
    <section class="form">
{{ form_start(form,{attr: {class: 'mb-5 flex column'}, 'action': path('app_event_create'), 'method': 'POST'}) }}
<h1 class="mb-5">Nouvel évènement</h1>
{{ form_label(form.nom, "Nom de l'évènement" ) }}
{{ form_widget(form.nom, {'attr' : { 'class': 'mb-4'} }) }}
{{ form_label(form.description, "Description de l'évènement" ) }}
{{ form_widget(form.description, {'attr' : { 'class': 'mb-4'} }) }}
{{ form_label(form.nbPlace, 'Nombre de places' ) }}
{{ form_widget(form.nbPlace, {'attr' : { 'class': 'mb-4'} }) }}
{{ form_label(form.dateTime, "Heure et date de l'évènement" ) }}
{{ form_widget(form.dateTime, {'attr' : { 'class': 'mb-4'} }) }}
{{ form_label(form.nom, 'Jeu:' ) }}
{{ form_widget(form.jeu, { 'label': 'jeu' }) }}
{{ form_widget(form.submit, { 'label': "Crée l'évènement" }) }}
                {{ form_end(form) }}
                </section>
                </main>
{% endblock %}