{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}
{% block title %}Team{% endblock %}

{% block body %}
<main class="wrapper">
    <section class="search_page">
    <h1>Voulez vous vraiment supprimer l'évènement {{ event.nom }}?</h1>
        {{ form_start(form,{attr: {class: ''}, 'action': path('app_event_delete', { 'id': event.id }), 'method': 'POST'}) }}
        {{ form_widget(form.submit, { 'label': "Supprimer l'évènement" }) }}
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}