{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}
{% block title %}Team{% endblock %}

{% block body %}
<main class="wrapper">
<section class="search_page">
            <div>
            <h1>{{ event.nom }}</h1>
                <h2>le {{ event.dateTime|date('d/m') }} à {{ event.dateTime|date('H:i') }}</h2>
                <h2>{{ event.description }}</h2>
                <h3>{{ event.team.nom }}
                    <br>
                {{ event.jeu.nom }}</h3>
                <p>places: <br> {{ event.users|length }}/{{ event.nbPlace }}</p>
                {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                    {% if app.user.team == event.team and app.user.roleTeam[0] == "ROLE_ADMIN" %}
                    <a class="nav_link mr" href="{{ path('app_event_edit', { 'id': event.id })}}">Modifier l'évènement</a>
                    <a class="nav_link mr" href="{{ path('app_event_delete', { 'id': event.id })}}">Supprimer l'évènement</a>
                    {% endif %}

                    {% set UserIn = 0 %}
                    {% for user in event.users %}
                        {% if app.user == user %}
                            {% set UserIn = 1 %}
                        {% endif %}
                    {% endfor %}
                    {% if event.users|length != event.nbPlace %}
                    {% if UserIn != 1 %}
                        <a class="nav_link mr" href="{{ path('app_event_join', { 'id': event.id } )}}">S'inscrire a l'évènement</a>
                    {% endif %}
                    {% endif %}

                {% endif %}
                <div>
                <h3>Liste des participants ({{ event.users|length }}) :</h3>
                <ul>
                    {% for user in event.users %}
                        <li class="mb-5">
                        {{ user.nom }}
                        {% if app.user.team == event.team and app.user.roleTeam[0] == "ROLE_ADMIN" %}
                            <a class="nav_link mr" href="{{ path('app_event_leave', { 'idUser': user.id, 'id': event.id})}}">Supprimer</a>
                        {% endif %}</li>
                    {% endfor %}
                </ul>
                </div>
            </div>
</section>
</main>
{% endblock %}