{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ 'css/search.css' }}">
 {% endblock %}
{% block title %}Team{% endblock %}

{% block body %}
<main class="wrapper">

<section class="search_page">
    {% if search is defined %}
        <h1 class="mb-5">Voici les résultats pour "{{ search }}"</h1>
        <a class="nav_link mr" href="{{ path('app_team')}}">Retour</a>
    {% endif %}

    {% if app.user.roleTeam[0] == "ROLE_ADMIN" %}
        <a class="nav_link mr" href="{{ path('app_event_create')}}">Crée un évènement</a>
    {% endif %}

    <div>
        {{ render ( controller ( 'App\\Controller\\EventController::searchBar' )) }}
    </div>

    <div>
        <ul>
            {% if eventresult is defined %}
                {% for eventresult in eventsearch %}
                    <li>{{ teamresult.nom }}</li>
                {% endfor %}
            {% endif %}

            {% for event in events %}
                <li><a class="nav_link mr" href="{{ path('app_event_id', { 'id': event.id } )}}">{{ event.nom }}</a></li>
            {% endfor %}
        </ul>
    </div>
</section>
</main>
{% endblock %}

