
{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ 'css/home.css' }}">
 {% endblock %}
{% block body %}
<main class="wrapper">
    <section class="accueil">
        <div class="section_colonne">
            <h3>Prochain Evenement</h3>
            <ul>
            {% for event in events %}
                <li>
                    <div class="vignette event_container">
                        <div>
                            <div class="longue_bulle detail_event marge" >{{ event.dateTime|date('d/m') }}</div>
                            <div class="longue_bulle detail_event marge" >{{ event.dateTime|date('H:i') }}</div>
                            <div class="longue_bulle detail_event">
                                <div>places</div>
                                <div>{{ event.users|length }}/{{ event.nbPlace }}</div>
                            </div>
                        </div>
                        <div>
                            <div class="longue_bulle marge">{{ event.nom }}</div>
                            <div class="longue_bulle marge">{{ event.team.nom }}</div>
                            <div class="longue_bulle description_event">{{ event.description }}</div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="section_colonne">
            <h3>Dernière discussions</h3>
            <ul>
            {% for sujet in sujets %}
                <li>
                    <div class="vignette">
                        <div class="longue_bulle marge">
                            {{ sujet.titre }}
                        </div>
                        <div class="longue_bulle marge">
                            {{ sujet.user.nom }}
                        </div>
                        <div class="detail_sujet">
                            <div class="longue_bulle">
                                <div>{{ sujet.messages|length }}</div>
                                <div>réponse(s)</div>
                            </div>
                            <div class="longue_bulle">
                                {{ sujet.contenu }}
                            </div>
                        </div>
                    </div>
                </li>
            {% endfor %}
            </ul>
        </div>
        <div class="section_colonne">
            <h3>News sportif</h3>
            <ul id="vignette_news">
                <!---<li>
                    <div class="vignette">
                        <div class="picture_div marge">
                            <img id="picture" src="https://www.khotwa-group.com/wp-content/uploads/2020/08/Icons-18.png" alt="News">
                            <div id="div_text">
                                <h4><span class="uppercase" id="titre">Titre de l'article</span></h4>
                            </div>
                        </div>
                        <div class="source">
                            <p>Source</p>
                        </div>
                    </div>
                </li>-->
            </ul>
        </div>
    </section>
</main>
{% block javascripts %}
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script src="{{ 'js/news.js' }}"></script>
{% endblock %}

{% endblock %}
