{% extends 'base.html.twig' %}

{% block title %}Register{% endblock %}

{% block body %}

<main>
        <!-- Début Section Accueil : image et texte-->
        <section class="section_bg_img flex jc-center ai-center">
            <div class="ta-center white mb-5">
                <h1 id="main_titre" class="shadow_contour">Register</h1>
            </div>
        </section>
        <!-- Fin Section Accueil-->

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

    <section class="section_login">

    {{ form_start(registrationForm, {'attr' : { 'class': 'login_form flex column'} }) }}
        <h1 class="h3 mb-3 font-weight-normal">Inscrivez-vous</h1>
        {{ form_row(registrationForm.nom, {
            label: 'Nom de pilote'
        }) }}
        {{ form_row(registrationForm.email) }}
        {{ form_row(registrationForm.plainPassword.first) }}
        {{ form_row(registrationForm.plainPassword.second) }}
        {{ form_row(registrationForm.agreeTerms) }}

        <button type="submit" class="btn btn-lg btn-primar">S'inscrire</button>
    {{ form_end(registrationForm) }}
{% endblock %}
