{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/form.css' }}">
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
    <section class="form">
    {% for flash_error in app.flashes('reset_password_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}
    
    
    <h1 class="mb-5">Réinitialisez votre mot de passe</h1>

    {{ form_start(requestForm, {attr: {class: 'mb-5 flex column'}}) }}
        {{ form_row(requestForm.email) }}
        <button class="button-blue mt-5">Send password reset email</button>
    {{ form_end(requestForm) }}
    </section>
</main>
{% endblock %}
