{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/form.css' }}">
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
    <section class="form">
        {{ form_start(form,{attr: {class: 'mb-5 flex column'}, 'action': path('app_private_message_create', { 'id': id }), 'method': 'POST'}) }}
                {{ form_label(form.objet, 'Objet') }}
                {{ form_widget(form.objet, {'attr' : { 'class': 'mb-4'} })}}
                {{ form_label(form.contenu, 'Message') }}
                {{ form_widget(form.contenu, {'attr' : { 'class': 'mb-4'} })}}
        {{ form_widget(form.submit, { 'label': 'Envoyer' }) }}
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}