{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/form.css' }}">
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}


{% block body %}
<main class="wrapper">
    <section class="form">
{{ form_start(form,{attr: {class: 'mb-5 flex column'}, 'action': path('app_private_message_response', { 'id': id } ), 'method': 'POST'}) }}
{{ form_widget(form.message, {'attr' : { 'class': 'mb-4'} }) }}
{{ form_widget(form.submit, { 'label': "Répondre" }) }}
                {{ form_end(form) }}
                </section>
                </main>
{% endblock %}