{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '../css/home.css' }}">
 <link rel="stylesheet" href="{{ '../css/mp.css' }}">
 <link rel="stylesheet" href="{{ '../css/search.css' }}">
 {% endblock %}
 
{% block body %}
<main class="wrapper">

<section class="mp">
        <h1 class="mb-5 center">Boite d'envois</h1>

    <a class="nav_link mr button" href="{{ path('app_private_message')}}">Retour</a>

    <div>
        <ul>
            {% if mp is defined and mp is not null %}
                {% for message in mp %}
                <hr>
                <li class="mb-1">
                    <a class="nav_link black" href="{{ path('app_private_message_outbox_page', { 'id': message.id } )}}">
                        <div class="vignette">
                            <div class="longue_bulle marge">
                                {{ message.objet }}
                            </div>
                            <div class="longue_bulle marge">
                                à {{ message.destinataire.nom }}
                            </div>
                                <div class="longue_bulle">
                                    <span class="red police_course">{{ message.dateTime|date('d/m/y H:i') }}</span>
                                </div>
                        </div>
                    </a>
                </li>
                {% endfor %}
            {% elseif mp is not defined or mp is null %}
            <h2> Vous n'avez pas de message privé envoyé</h2>
            {% endif %}
        </ul>
    </div>
</section>
</main>
{% endblock %}