<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}SimRacing France{% endblock %}</title>
        <!-- CSS -->
        <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css">       
        <link rel="stylesheet" href="{{ 'css/framework.css' }}">
        <link rel="stylesheet" href="{{ 'css/base.css' }}">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            
        {% endblock %}

        {% block javascripts %}
        <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.10.2/dist/umd/popper.min.js" integrity="sha384-7+zCNj/IqJ95wo16oMtfsKbZ9ccEh31eOz1HGyDuCQ6wgnyJNSYdrPa03rtR1zdB" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/js/bootstrap.min.js" integrity="sha384-QJHtvGhmr9XOIpI6YVutG+2QOK9T+ZnN4kzFN1RtK3zEFEIsxhlmWl5/YESvpZ13" crossorigin="anonymous"></script>
        {% endblock %}
    </head>
    <body>
    <!-- Début Header : barre de navigation et logo-->
        <header>
            <nav id="menu" class="side-spaced">
                <div class="f-3">
                    <p class="logo white"><strong>SimRacing France</strong></p>
                </div>
                <div id="menu-links">

                    <a class="nav_link mr" href="{{ path('app_home')}}">Accueil</a>
                    <a class="nav_link mr" href="">Profile</a>
                    <a class="nav_link mr" href="">Messagerie</a>
                    <a class="nav_link mr" href="{{ path('app_news')}}">News</a>
                    <a class="nav_link mr" href="">Discussions</a>
                    <a class="nav_link mr" href="">Teams</a>
                    <a class="nav_link mr" href="">Évènements</a>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                    {% if is_granted('ROLE_ADMIN') %} 

                    <a class="nav_link mr" href="">Admin</a>
                    
                    {% endif %}

                    <a class="nav_link mr" href="{{ path('app_logout')}}">Déconnexion</a>

                    {% else %}

                    <a class="nav_link mr" href="{{ path('app_register')}}">S'inscrire</a>
                    <a class="nav_link mr" href="{{ path('app_login')}}">Connexion</a>

                    {% endif %}

                </div>
                <div id="burger">
                    <i class="fas fa-bars"></i>
                </div>
            </nav>
            <div class ="search_bar">
                <div class="input-group mb-3">
                    <input type="text" class="form-control" aria-label="Text input with dropdown button" placeholder="Recherchez un pilote, une team ou un évènement...">
                </div>
            </div>
        </header>
         <!-- Fin Header-->
        {% block body %}{% endblock %}
        <footer class="footer-distributed">

            <div class="footer-left">

                <h3 class="police_logo"><strong>LA PERLE BLEUE</strong></h3>

                <p class="footer-links">

                    <a class="nav_link mr" href="{{ path('app_home')}}">Accueil</a>
                    <a class="nav_link mr" href="">Profile</a>
                    <a class="nav_link mr" href="">Messagerie</a>
                    <a class="nav_link mr" href="}">News</a>
                    <a class="nav_link mr" href="">Discussions</a>
                    <a class="nav_link mr" href="">Teams</a>
                    <a class="nav_link mr" href="">Évènements</a>

                    {% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}

                    {% if is_granted('ROLE_ADMIN') %} 

                    <a class="nav_link mr" href="">Admin</a>
                    
                    {% endif %}

                    <a class="nav_link mr" href="{{ path('app_logout')}}">Déconnexion</a>

                    {% else %}

                    <a class="nav_link mr" href="{{ path('app_register')}}">S'inscrire</a>
                    <a class="nav_link mr" href="{{ path('app_login')}}">Connexion</a>

                    {% endif %}

                    

                </p>

                <p class="footer-company-name white">Mentions légales © 2022</p>
            </div>

            <div class="footer-center">

                <div>
                    <i class="fa fa-map-marker"></i>
                    <p><strong><span>1 Rue du Hoelzel,</span> 67400 Illkirch-Graffenstaden</strong></p>
                </div>

                <div>
                    <i class="fa fa-phone"></i>
                    
                </div>

                <div>
                    <i class="fa fa-envelope"></i>
                </div>

            </div>

            <div class="footer-right">

                <p class="footer-company-about">
                    <span>À propos</span>

                </p>

                <div class="footer-icons">
                    <a href="https://www.facebook.com/la.perle.bleue.ilk/?ref=py_c"><i class="fab fa-facebook-f"></i></a>
                </div>

            </div>

        </footer>
    </body>
</html>
