{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/form.css' }}">
 <link rel="stylesheet" href="{{ 'css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
    <section class="form">

    {% for flash_error in app.flashes('verify_email_error') %}
        <div class="alert alert-danger" role="alert">{{ flash_error }}</div>
    {% endfor %}

{{ form_start(form,{attr: {class: 'my-5 flex column'}, 'action': path('app_forum_response', { 'id': id } ), 'method': 'POST'}) }}
{{ form_widget(form.contenu, {'attr' : { 'class': 'mb-4'} }) }}
{{ form_widget(form.submit, { 'label': "Répondre" }) }}
                {{ form_end(form) }}
                </section>
                </main>
{% endblock %}