{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/form.css' }}">
 <link rel="stylesheet" href="{{ 'css/search.css' }}">
 {% endblock %}

{% block body %}
<main class="wrapper">
    <section class="form">

        {{ form_start(form,{attr: {class: ''}, 'action': path('app_forum_edit', { 'id': sujet.id }), 'method': 'POST'}) }}
                <h1 class="mb-5">Editez votre sujet</h1>
                {{ form_label(form.titre, 'Titre' ) }}
                {{ form_widget(form.titre, {'attr': {'placeholder': sujet.titre, 'class': 'mb-4' }})}}
                {{ form_label(form.description, 'Description') }}
                {{ form_widget(form.description, {'attr': {'placeholder': sujet.description, 'class': 'mb-4' }})}}
                {{ form_label(form.contenu, 'Message') }}
                {{ form_widget(form.contenu, {'attr': {'placeholder': sujet.contenu, 'class': 'mb-4' }})}}
        {{ form_widget(form.submit, { 'label': 'Soumettre les modifications' }) }}
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}