{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}
{% block title %}Team{% endblock %}

{% block body %}
<main class="wrapper">
<section class="search_page">
{% if is_granted('IS_AUTHENTICATED_REMEMBERED') %}
        <a class="nav_link mr" href="{{ path('app_forum_response', { 'id': sujet.id } )}}">Répondre</a>
        {% if sujet.user == app.user or sujet.team == app.user.team and app.user.roleTeam[0] == "ROLE_ADMIN" or sujet.team == app.user.team and app.user.roleTeam[0] == "ROLE_MODO"%}
        <a class="nav_link mr" href="{{ path('app_forum_edit', { 'id': sujet.id } )}}">Editer</a>
        <a class="nav_link mr" href="{{ path('app_forum_delete', { 'id': sujet.id } )}}">Supprimer</a>
        {% endif %}
    {% endif %}
            <div>
            <h1>{{ sujet.titre }}</h1>
                <h2>{{ sujet.description }}</h2>
                <h3>{{ sujet.user.nom }}</h3>
                <h4>{{ sujet.dateTime|date('d/m/y H:i') }}</h4>
                <p>{{ sujet.contenu }}</p>
                <div>
                <ul>
                    {% for reponse in sujet.messages %}
                        <li class="mb-5">
                        {{ reponse.user.nom }} 
                        
                        {% if reponse.user == app.user or sujet.team == app.user.team and app.user.roleTeam[0] == "ROLE_ADMIN" or sujet.team == app.user.team and app.user.roleTeam[0] == "ROLE_MODO" %}
                        <a class="nav_link mr" href="{{ path('app_forum_message_edit', { 'id': reponse.id } )}}">Editer</a>
                        <a class="nav_link mr" href="{{ path('app_forum_message_delete', { 'id': reponse.id } )}}">Supprimer</a>
                        {% endif %}

                        </br>
                        <p>{{ reponse.contenu }}</p> </br>
                        {{ reponse.dateTime|date('d/m/y H:i') }}
                        </li>
                    {% endfor %}
                </ul>
                </div>
            </div>
</section>
</main>
{% endblock %}