{% extends 'base.html.twig' %}
 {% block stylesheets %}
 <link rel="stylesheet" href="{{ '/css/search.css' }}">
 {% endblock %}
{% block title %}Team{% endblock %}

{% block body %}
<main class="wrapper">
    <section class="search_page">
        {{ form_start(form,{attr: {class: ''}, 'action': path('app_forum_edit', { 'id': sujet.id }), 'method': 'POST'}) }}
                {{ form_label(form.titre, 'Titre' ) }}
                {{ form_widget(form.titre, {'attr': {'placeholder': sujet.titre }})}}
                {{ form_label(form.description, 'Description') }}
                {{ form_widget(form.description, {'attr': {'placeholder': sujet.description }})}}
                {{ form_widget(form.contenu, {'attr': {'placeholder': sujet.contenu }})}}
        {{ form_widget(form.submit, { 'label': 'Soumettre les modifications' }) }}
        {{ form_end(form) }}
    </section>
</main>
{% endblock %}